<div class="country-list">
  <div
    fxFlex="calc(20%-25px)"
    fxFlex.sm="calc(50%-25px)"
    fxFlex.xs="calc(50%-25px)"
    *ngFor="let country of countries"
    ngStyle.xs="padding-left:5%;"
    ngStyle.sm="padding-left:6%;"
    ngStyle.md="padding-left:10%;"
    ngStyle.lg="padding-left:10%;"
    ngStyle.xl="padding-left:10%;"
  >
    <app-simple-card
      title="{{ country.name }}"
      iconClass="{{ country.icon }}"
      id="{{ country.woeId }}"
      (clicked)="onClick($event)"
    ></app-simple-card>
  </div>
</div>
