<mat-card class="card">
  <mat-card-header><h4>Header</h4></mat-card-header>
  <mat-card-content>
    <img
      mat-card-image
      src="https://lscdn.blob.core.windows.net/products/tv/images/Akai-HD-Ready-32-Inches-LED-Television-LED32D20-DX.jpg"
      class="bl-brand-image"
    />
  </mat-card-content>
  <mat-card-actions>
    <div style="float:left;clear:both">
        <button mat-raised-button class="mat-raised-button">Primary</button>
    </div>
    <div>
      <mat-icon>star_border</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
    </div>
  </mat-card-actions>
  <!-- <mat-card-footer>Footer</mat-card-footer> -->
</mat-card>
