<div class="about-us">
  <div fxLayout="row">
    <div>
      <img
        class="cursor-pointer"
        (click)="navigation.navigateToHome()"
        [src]="'../../../assets/icons/bl-icon-64x64.png'"
      />
    </div>
    <div>
      <h1 class="cursor-pointer" (click)="navigation.navigateToHome()">
        BeingLocal
      </h1>
    </div>
  </div>

  <br />
  <br />
  <br />
  <div>
    <h1 class="title">About Us</h1>
    <br />
    <h2 class="title">Our Story</h2>
  </div>
  <div class="paragraph">
    <p>
      Being Local is started with a mission 'Every Step Counts', every step we
      take towards building awareness of Indian Products.
    </p>
    <p>
      We believe that Being Local will be a one stop destination for all
      consumers to know the manufacturers of the Product, and for retailers to
      identify the products that needs to be put in the premium shelf space.
    </p>
    <p>
      With the movement of #SelfReliantIndia we realized that the leaders of the
      country were easily able to tap on the sentiment and mobilize the crowds
      to think about the products they are using. However, when we tried to
      search for the information there was no single point of destination to
      find that information. That was the moment we decided to build an app to
      list the information.
    </p>
    <p>
      We also believe that this listing will help us identify the markets we are
      yet to explore and make a space.
    </p>
    <p>
      Being Local is built by three passionate Indians who wants to do their bit
      for their country with LinkedIn profile
    </p>
  </div>
</div>
