.about-us {
  color: var(--off-white);

  h1 {
    margin-top: 15px;
    font-weight: bold;

    &.title {
      text-align: center;
      font-size: x-large;
    }
  }

  h2 {
    text-align: center;

    &.sub-title {
      text-align: center;
    }

    &.sub-title:before {
      content: '';
      width: 70px;
      height: 6px;
      border-top: 1px solid white;
      display: inline-block;
      margin: 0 10px;
    }

    &.sub-title:after {
      content: '';
      width: 70px;
      height: 6px;
      border-top: 1px solid white;
      display: inline-block;
      margin: 0 10px;
    }
  }

  .paragraph p {
    font-size: 18px;
    max-width: 600px;
    margin: 40px auto;
    line-height: 1.5em;
    font-size: 1.2em;
    padding: 10px;
  }

  .team {
    max-width: 100%;
  }
}
