<app-navbar></app-navbar>
<div class="about-us">
  <h1 class="title">About Us</h1>
  <h2 class="sub-title">Our Story</h2>
  <div class="paragraph">
    <p>
      Being Local is started with a mission 'Every Step Counts', every step we
      take towards building awareness of Indian Products.
      <br /><br />
      We believe that Being Local will be a one stop destination for all
      consumers to know the manufacturers of the Product, and for retailers to
      identify the products that needs to be put in the premium shelf space.
      <br /><br />
      With the movement of #SelfReliantIndia we realized that the leaders of the
      country were easily able to tap on the sentiment and mobilize the crowds
      to think about the products they are using.
      <br /><br />
      However, when we tried to search for the information there was no single
      point of destination to find that information. That was the moment we
      decided to build an app to list the information. We also believe that this
      listing will help us identify the markets we are yet to explore and make a
      space.
      <br /><br />
      Being Local is built by passionate Indians who wants to do their bit
      for their country.
    </p>
  </div>
  <div
    class="team"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign="space-around center"
    fxLayoutGap="25px"
  >
    <div
      fxFlex="calc(33%-25px)"
      fxFlex.sm="calc(50%-25px)"
      fxFlex.xs="calc(50%-25px)"
      *ngFor="let teamMember of teamMembers"
      ngStyle.md="padding-left:7%;"
      ngStyle.lg="padding-left:7%;"
      ngStyle.xl="padding-left:10%;"
    >
      <app-card
        cardTitle="{{ teamMember.name }}"
        subTitle="{{ teamMember.title }}"
        linkedin="{{ teamMember.linkedin }}"
        github="{{ teamMember.github }}"
        twitter="{{ teamMember.twitter }}"
      ></app-card>
    </div>
  </div>
  <div class="flex-spacer">&nbsp;</div>
</div>
