.brand {
  height: 30px;
  padding-left: 10px;
  font-size: 25px;
}

.search-box {
  width: 100%;
  text-align: center;
}

.menu {
  font-weight: 600;
}

.mat-icon-button-menu {
  border: none;
}

@media all and (max-width: 500px) {
  .brand {
    padding-left: 0%;
    padding-right: 10%;
    width: 100%;
    text-align: center;
    font-size: x-large;
  }
}
