<app-navbar [showSearchBox]="true"></app-navbar>
<div>
  <ng-container *ngIf="showFilter">
    <div class="filter">
      <button
        mat-raised-button
        [class.mat-accent]="country === '-1'"
        (click)="getForeign($event)"
      >
        Foreign
      </button>
      &nbsp;
      <button
        mat-raised-button
        [class.mat-accent]="country === '23424848'"
        (click)="getLocal($event)"
      >
        Indian
      </button>
      &nbsp;
      <button
        mat-raised-button
        [class.mat-accent]="country === undefined"
        (click)="getAll($event)"
      >
        All
      </button>
    </div>
  </ng-container>
</div>
<ng-container *ngIf="showFilter"><hr /></ng-container>

<div class="brand-list">
  <div
    fxFlex="calc(20%-5px)"
    fxFlex.sm="calc(50%-25px)"
    fxFlex.xs="calc(50%-25px)"
    *ngFor="let category of brands"
    ngStyle.xs="padding-left:5%;"
    ngStyle.sm="padding-left:6%;"
    ngStyle.md="padding-left:10%;"
    ngStyle.lg="padding-left:10%;"
    ngStyle.xl="padding-left:10%;"
  >
    <app-simple-card
      title="{{ category.name }}"
      id="{{ category.id }}"
      imageUrl="{{ category.imageUrl }}"
      totalstar="{{category.ratin}}"
      (clicked)="onClick($event)"
    ></app-simple-card>
  </div>
</div>
<div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
    ></div>

    <div class="example-button-row"  style="text-align: center" >
      <button mat-button color="primary" *ngIf="brands">Load More</button>
    </div>

<!-- <div class="m-scroll-top" *ngIf="isShow" (click)="gotoTop()">
  <mat-icon>arrow_upward</mat-icon>
        totalstar="{{avgRating.averageRating}}"
</div> -->