.country-india {
  background-image: url('../assets/icons/countries/india.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.5);
  background-position-x: 2px;
}

.country-japan {
  background-image: url('../assets/icons/countries/japan.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.3);
  background-position-x: 2px;
}

.country-china {
  background-image: url('../assets/icons/countries/china.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.5);
}

.country-finland {
  background-image: url('../assets/icons/countries/finland.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.4);
  background-position-x: 3px;
}

.country-usa {
  background-image: url('../assets/icons/countries/usa.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.7);
}

.country-taiwan {
  background-image: url('../assets/icons/countries/taiwan.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.7);
  background-position-y: -3px;
  background-position-x: 4px;
}

.country-south-korea {
  background-image: url('../assets/icons/countries/south-korea.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.5);
  background-position-x: 3px;
  background-position-y: -2px;
}

.country-singapore {
  background-image: url('../assets/icons/countries/singapore.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.5);
  background-position-x: 3px;
}

.country-netherlands {
  background-image: url('../assets/icons/countries/netherlands.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.6);
  background-position-y: 2px;
}

.country-germany {
  background-image: url('../assets/icons/countries/germany.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.8);
  background-position-y: 10px;
}

.country-austria {
  background-image: url('../assets/icons/countries/austria.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.5);
}

.country-unitedkingdom {
  background-image: url('../assets/icons/countries/unitedkingdom.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.5);
  background-position-y: 3px;
}

.country-switzerland {
  background-image: url('../assets/icons/countries/switzerland.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.5);
}

.country-indonesia {
  background-image: url('../assets/icons/countries/indonesia.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.6);
  background-position-y: -2px;
}

.country-uae {
  background-image: url('../assets/icons/countries/uae.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.7);
  background-position-y: 3px;
}

.country-sweden {
  background-image: url('../assets/icons/countries/sweden.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.6);
}

.country-thailand {
  background-image: url('../assets/icons/countries/thailand.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.5);
  background-position-x: 2px;
}

.country-france {
  background-image: url('../assets/icons/countries/france.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.6);
  background-position-y: -4px;
  background-position-x: 2px;
}

.country-hongkong {
  background-image: url('../assets/icons/countries/hongkong.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.5);
  background-position-x: 2px;
}

.country-canada {
  background-image: url('../assets/icons/countries/canada.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.5);
  background-position-y: -4px;
  background-position-x: 3px;
}

.country-south-africa {
  background-image: url('../assets/icons/countries/south-africa.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.5);
  background-position-x: 1px;
  background-position-y: -5px;
}
