.gourmet {
  background-image: url('../assets/icons/gourmet.png');
  background-size: cover;
}

.automobile {
  background-image: url('../assets/icons/automobile.png');
  background-size: cover;
}

.computers_mobiles {
  background-image: url('../assets/icons/computers_mobiles.png');
  background-size: cover;
  transform: scale(1.8);
  background-position-y: 6px !important;
}

.industrial {
  background-image: url('../assets/icons/industrial.png');
  background-size: cover;
}

.appliances {
  background-image: url('../assets/icons/appliances_v2.png');
  background-size: cover;
  transform: scale(1.5);
  background-position-y: -3px !important;
}

.electronics {
  background-image: url('../assets/icons/electronics.png');
  background-size: cover;
}

.health-personal {
  background-image: url('../assets/icons/health_personal.png');
  background-size: cover;
  background-position-y: -6px;
}

.baby {
  background-image: url('../assets/icons/baby.png');
  background-size: cover;
  background-position-y: -5px;
}

.home-kitchen {
  background-image: url('../assets/icons/home_kitchen.png');
  background-size: cover;
  transform: scale(1.2);
  background-position-y: -7px;
}

.clothing-and-accessories {
  background-image: url('../assets/icons/clothing_accessories.png');
  background-size: cover;
  transform: scale(1.2);
  background-position-y: -3px;
}

.software {
  background-image: url('../assets/icons/software.png');
  background-size: cover;
}

.it-services {
  background-image: url('../assets/icons/it_services.png');
  background-size: cover;
  transform: scale(1.2);
  background-position-y: -3px;
}

.toy-plane {
  background-image: url('../assets/icons/toys_plane.png');
  background-size: cover;
  transform: scale(1.1);
  background-position-y: -4px;
}

.beauty {
  background-image: url('../assets/icons/beauty.png');
  background-size: cover;
  background-position-y: -3px !important;
}

.country-india {
  background-image: url('../assets/icons/countries/india.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.5);
}

.country-japan {
  background-image: url('../assets/icons/countries/japan.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.3);
}

.country-china {
  background-image: url('../assets/icons/countries/china.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.5);
}

.country-finland {
  background-image: url('../assets/icons/countries/finland.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.4);
}

.country-usa {
  background-image: url('../assets/icons/countries/usa.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.7);
}

.country-taiwan {
  background-image: url('../assets/icons/countries/taiwan.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.7);
  background-position-y: -3px;
}

.country-south-korea {
  background-image: url('../assets/icons/countries/south-korea.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.5);
}

.country-singapore {
  background-image: url('../assets/icons/countries/singapore.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.5);
}

.country-netherlands {
  background-image: url('../assets/icons/countries/netherlands.png');
  background-size: cover;
  margin-top: 14px !important;
  transform: scale(1.6);
  background-position-y: 2px;
}
