.gourmet {
  background-image: url('../assets/icons/gourmet.png');
  background-size: cover;
}

.automobile {
  background-image: url('../assets/icons/automobile.png');
  background-size: cover;
}

.computers_mobiles {
  background-image: url('../assets/icons/computers_mobiles.png');
  background-size: cover;
  transform: scale(1.8);
  background-position-y: 6px !important;
}

.industrial {
  background-image: url('../assets/icons/industrial.png');
  background-size: cover;
}

.appliances {
  background-image: url('../assets/icons/appliances_v2.png');
  background-size: cover;
  transform: scale(1.5);
  background-position-y: -3px !important;
}

.electronics {
  background-image: url('../assets/icons/electronics.png');
  background-size: cover;
  transform: scale(1.4);
}

.health-personal {
  background-image: url('../assets/icons/health_personal.png');
  background-size: cover;
  background-position-y: -6px;
}

.baby {
  background-image: url('../assets/icons/baby.png');
  background-size: cover;
  background-position-y: -5px;
}

.home-kitchen {
  background-image: url('../assets/icons/home_kitchen.png');
  background-size: cover;
  transform: scale(1.2);
  background-position-y: -7px;
}

.clothing-and-accessories {
  background-image: url('../assets/icons/clothing_accessories.png');
  background-size: cover;
  transform: scale(1.2);
  background-position-y: -3px;
}

.software {
  background-image: url('../assets/icons/software.png');
  background-size: cover;
}

.it-services {
  background-image: url('../assets/icons/it_services.png');
  background-size: cover;
  transform: scale(1.2);
  background-position-y: -3px;
}

.toys {
  background-image: url('../assets/icons/toys_plane.png');
  background-size: cover;
  transform: scale(1.1);
  background-position-y: -4px;
}

.beauty {
  background-image: url('../assets/icons/beauty.png');
  background-size: cover;
  background-position-y: -3px !important;
}

.air-conditioning {
  background-image: url('../assets/icons/air-conditioner.png');
  background-size: cover;
  transform: scale(1.8);
}

.baby-food {
  background-image: url('../assets/icons/baby_products.png');
  background-size: cover;
  transform: scale(1.4);
}

.camera {
  background-image: url('../assets/icons/camera.png');
  background-size: cover;
  transform: scale(1.6);
}

.fan {
  background-image: url('../assets/icons/ceiling-fan.png');
  background-size: cover;
  transform: scale(1.8);
}

.cement {
  background-image: url('../assets/icons/cement.png');
  background-size: cover;
  transform: scale(1.5);
}

.cooler {
  background-image: url('../assets/icons/cooler.png');
  background-size: cover;
  transform: scale(1.3);
}

.detergent {
  background-image: url('../assets/icons/detergent.png');
  background-size: cover;
  transform: scale(1.3);
}

.food-processor {
  background-image: url('../assets/icons/food-processor.png');
  background-size: cover;
  transform: scale(1.2);
}

.geyser {
  background-image: url('../assets/icons/geyser.png');
  background-size: cover;
  transform: scale(1.4);
}

.mixer {
  background-image: url('../assets/icons/grinder-mixer.png');
  background-size: cover;
  transform: scale(1.3);
}

.headphone {
  background-image: url('../assets/icons/headphones.png');
  background-size: cover;
  transform: scale(1.6);
}

.home-theatre {
  background-image: url('../assets/icons/home-theatre.png');
  background-size: cover;
  transform: scale(1.6);
}

.computer {
  background-image: url('../assets/icons/laptop.png');
  background-size: cover;
  transform: scale(1.4);
}

.microwave-oven {
  background-image: url('../assets/icons/microwave.png');
  background-size: cover;
  transform: scale(1.5);
}

.mobile {
  background-image: url('../assets/icons/mobile.png');
  background-size: cover;
  transform: scale(1.3);
}

.refrigerator {
  background-image: url('../assets/icons/refrigerator.png');
  background-size: cover;
  transform: scale(1.4);
}

.sanitary-napkin {
  background-image: url('../assets/icons/sanitary-pad.png');
  background-size: cover;
  transform: scale(1.2);
}

.motor-bike {
  background-image: url('../assets/icons/scooter.png');
  background-size: cover;
  transform: scale(1.4);
}

.shoe {
  background-image: url('../assets/icons/shoes.png');
  background-size: cover;
  transform: scale(1.4);
}

.speaker {
  background-image: url('../assets/icons/speaker.png');
  background-size: cover;
  transform: scale(1.6);
}

.toothpaste {
  background-image: url('../assets/icons/toothpaste.png');
  background-size: cover;
  transform: scale(1.3);
}

.tractor {
  background-image: url('../assets/icons/tractor.png');
  background-size: cover;
  transform: scale(1.5);
}

.car {
  background-image: url('../assets/icons/car.png');
  background-size: cover;
  transform: scale(1.5);
}

.clothes {
  background-image: url('../assets/icons/clothes.png');
  background-size: cover;
  transform: scale(1.5);
}

.cosmetics {
  background-image: url('../assets/icons/cosmetics.png');
  background-size: cover;
  transform: scale(1.5);
}

.cream {
  background-image: url('../assets/icons/cream.png');
  background-size: cover;
  transform: scale(1.5);
}

.baby-diaper {
  background-image: url('../assets/icons/diaper.png');
  background-size: cover;
  transform: scale(1.5);
}

.dishwash {
  background-image: url('../assets/icons/dishwash.png');
  background-size: cover;
  transform: scale(1.5);
}

.juicer {
  background-image: url('../assets/icons/juicer.png');
  background-size: cover;
  transform: scale(1.3);
}

.light {
  background-image: url('../assets/icons/light.png');
  background-size: cover;
  transform: scale(1.2);
}

.muesli {
  background-image: url('../assets/icons/muesli.png');
  background-size: cover;
  transform: scale(1.5);
}

.noodle {
  background-image: url('../assets/icons/noodle.png');
  background-size: cover;
  transform: scale(1.5);
}

.oven {
  background-image: url('../assets/icons/oven.png');
  background-size: cover;
  transform: scale(1.2);
}

.pipe {
  background-image: url('../assets/icons/pipe.png');
  background-size: cover;
  transform: scale(1.5);
}

.probiotic-drink {
  background-image: url('../assets/icons/probiotic-drink.png');
  background-size: cover;
  transform: scale(1.5);
}

.heater {
  background-image: url('../assets/icons/room-heater.png');
  background-size: cover;
  transform: scale(1.3);
}

.shampoo {
  background-image: url('../assets/icons/shampoo.png');
  background-size: cover;
  transform: scale(1.5);
}

.soap-bar {
  background-image: url('../assets/icons/soap-bar.png');
  background-size: cover;
  transform: scale(1.5);
}

.switches {
  background-image: url('../assets/icons/switches.png');
  background-size: cover;
  transform: scale(1.5);
}

.tablet {
  background-image: url('../assets/icons/tablet.png');
  background-size: cover;
  transform: scale(1.5);
}

.clothes {
  background-image: url('../assets/icons/clothes.png');
  background-size: cover;
  transform: scale(1.4);
  background-position-y: -3px;
}
