<div class="wrapper">
    <div class="container">
        <mat-card *ngIf="!user" id="card" style="text-align: center; padding: 30px;">
            <mat-card-title>
                <img src="../../../../../assets/icons/bl-icon-64x64.png" width="" alt="logo"> 
            </mat-card-title>

            <mat-card-content>
                <div class="col">
                <button mat-raised-button color="primary" class="google btn" mat-stroked-button (click)="signInWithGoogle()">
                  <i class="fab fa-google"></i>
                  Login via Gmail
                </button>
                <button mat-raised-button color="primary" class="fb btn" mat-stroked-button (click)="signInWithFB()">
                  <i class="fab fa-facebook-f"></i>
                  Login via Facebook
                </button>
              </div>
            </mat-card-content>
            <mat-card-content>
              <div class="col"> 
                <span (click)="continue()" style="cursor: pointer;">
                  Continue Browsing
                </span>
              </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>