input {
  border-radius: 7px;
  height: 40px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  text-indent: 10px;
}

.input-box {
  font-size: 16px;
}

.small-screen {
  display: flex;

  .search-icon {
    opacity: 5;
    z-index: 1000;
    position: relative;
    padding-left: 92px;
    padding-top: 10px;
  }

  .input-box {
    width: 88% !important;
    margin-left: -3% !important;
  }

  input {
    padding-left: 30px !important;
  }
}

.large-screen {
  display: flex;

  .search-icon {
    opacity: 5;
    z-index: 1000;
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
  }

  .input-box {
    width: 97% !important;
    margin-left: -4% !important;
  }

  input {
    padding-left: 25px !important;
  }
}
