input {
  border-radius: 7px;
  height: 40px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  text-indent: 10px;
}

.input-box {
  font-size: 16px;
}

.small-screen {
  display: flex;

  .search-icon {
    position: absolute;
    padding-left: 5%;
    padding-top: 10px;
  }

  .input-box {
    width: 90% !important;
    margin-left: 5% !important;
  }

  input {
    padding-left: 30px !important;
  }
}

.large-screen {
  display: flex;

  .search-icon {
    position: absolute;
    padding-left: 1%;
    padding-top: 10px;
  }

  .input-box {
    width: 97% !important;
  }

  input {
    padding-left: 25px !important;
  }
}
