<mat-toolbar color="primary" style="height: 10%;">
  <ng-container>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" color="accent">
      <button mat-menu-item>
        <span>About Us</span>
      </button>
      <button mat-menu-item>
        <span>Reach Us</span>
      </button>
    </mat-menu>
    <div class="brand">
      <span>Being Local</span>
    </div>
  </ng-container>
  <ng-container>
    <div class="search-box">
      <app-search-box></app-search-box>
    </div>
  </ng-container>
</mat-toolbar>
