<mat-toolbar color="primary" *ngIf="toolbarService.visible">
  <mat-toolbar-row>
    <ng-container>
      <button
        color="primary"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="mat-focus-indicator mat-icon-button mat-button-base mat-icon-button-menu"
      >
        <mat-icon
          role="img"
          class="mat-icon notranslate material-icons mat-icon-no-color menu"
          >menu</mat-icon
        >
      </button>
      <mat-menu #menu="matMenu" color="accent">
        <button mat-menu-item routerLink="/about-us">
          <span>About Us</span>
        </button>
        <button mat-menu-item>
          <span>Reach Us</span>
        </button>
      </mat-menu>
      <div class="brand">
        BeingLocal
      </div>
    </ng-container>
    <div class="search-box" fxShow="”true”" fxHide.lt-md="”true”">
      <app-search-box></app-search-box>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row fxShow="true" fxHide.gt-sm="true">
    <div class="search-box">
      <app-search-box></app-search-box>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
