<div class="ng-autocomplete">
  <!-- <div class="icon">
    <mat-icon class="search-icon">search</mat-icon>
  </div> -->

  <ng-autocomplete
    [data]="suggestions"
    [searchKeyword]="keyword"
    (selected)="selectEvent($event)"
    (inputChanged)="onChangeSearch($event)"
    (inputFocused)="onFocused($event)"
    [itemTemplate]="itemTemplate"
    [minQueryLength]="2"
    [placeHolder]="placeHolderText"
  >
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <ng-container *ngIf="item.name !== 'Not Found'">
      <a [innerHTML]="item.name + ' in ' + item?.categoryName"></a>
    </ng-container>
    <ng-container *ngIf="item.name === 'Not Found'">
      <a [innerHTML]="item.name"></a>
    </ng-container>
  </ng-template>
</div>
